@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&display=swap')
    
$max-width: 275px + 950px
// $min-width: 480px

=setfont($size, $weight, $color, $height)
    font-size: $size
    font-weight: $weight
    color: $color
    line-height: $height

// =setbutton($hover, $active)
//     &:hover
//         cursor: pointer
//         background-color: $hover
//     &:active
//         background-color: $active

// .dflex
//     display: flex
//     flex-wrap: wrap
