
@import vars

body
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
    max-width: $max-width
    min-width: $min-width
    margin: 0 auto
    
// header
//     @extend .dflex
//     flex-wrap: nowrap
//     justify-content: space-around
//     padding: 10px 0 10px 0
//     align-items: center
