
@import vars

body
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
    max-width: $max-width
    min-width: $min-width
    margin: 0 auto
    
header
    @extend .dflex
    flex-wrap: nowrap
    justify-content: space-around
    padding: 10px 0 10px 0
    align-items: center
    .logo
        background-image: url(../img/logo.png)
        background-size: cover
        width: 50px
        height: 48px
        flex-shrink: 0
        margin-left: 20px
.menu
    @extend .dflex
    letter-spacing: -1px
    +setfont(Lato, 14px, 400, "", "")
    text-transform: uppercase
    li
        list-style-type: none
        padding: 10px 0 10px 0
        +setbutton($color_buttons, darkgrey)
        transition: background-color $transition_buttons*2
    a
        color: #868686
        padding: 15px
        text-decoration: none

.boost
    background-color: $back_blue
    padding: 60px 10px 290px 10px
    text-align: center
    h1
        +setfont("Gotham Black Regular", 35px, 400, white, "")
        letter-spacing: -1px
        text-transform: uppercase
        margin-bottom: $hx_p_margin
    p
        +setfont("Open Sans", 16px, 300, white, "")

.contacts
    padding-bottom: 50px
    input
        height: 46px
        +setfont("Open Sans", 13px, 400, "", "")
        border-radius: 3px
        border-style: none
        padding-left: 40px
        width: 281px
        margin: 10px 0 0 7px
    input[type="text"]
        background: white url('../img/name.png') no-repeat center left 15px
    input[type="email"]
        background: white url('../img/email.png') no-repeat center left 15px
    input[type="tel"]
        background: white url('../img/phone.png') no-repeat center left 15px
    input[type="submit"]
        padding: 0
        +setfont("Open Sans", 14px, 400, white, "")
        text-transform: uppercase
        width: 211px
        background-color: $color_buttons
        transition: background-color $transition_buttons
        +setbutton(lightgrey, darkgrey)

.promo
    margin: 0 auto
    height: 343px
    background: url(../img/macbook.png) no-repeat center
    position: relative
    bottom: $bottom_rel
    .pub
        // background: url(../img/pub.png) no-repeat center
        // height: $bottom_rel + 18
        text-align: center
        padding-top: 18px 
        video   
            width: 445px
    &:hover
        animation: macbook $transition_macbook ease-in-out 0s infinite

.wheels
    @extend .dflex
    justify-content: center
    margin-top: -$bottom_rel
    padding-top: 24px
    .wheel
        background: url(../img/wheel_pass.png) no-repeat center
        width: 16px
        height: 15px
        padding-left: 10px
        transition: $transition_buttons
        &:hover
            background: url(../img/wheel_act.png) no-repeat center
            cursor: pointer

.services
    text-align: center
    padding-top: 60px
    padding-bottom: 75px
    h2
        +setfont("Gotham Black Regular", 30px, 900, $color_hx, $lineheight_px)
        letter-spacing: -1px
        text-transform: uppercase
        margin-bottom: $hx_p_margin + 5px
    p
        +setfont("Open Sans", 16px, 400, $color_px, $lineheight_px)
    .items
        @extend .dflex
        justify-content: center
        padding-top: 30px
        figure
            @extend .dflex
            flex-wrap: nowrap
            flex: 0 1 $width_items
            figcaption
                text-align: left
                padding-left: 35px
                h3
                    +setfont(Lato, 16px, 700, $color_hx, $lineheight_px)
                    text-transform: uppercase
                    margin-bottom: -5px
                p
                    +setfont("Open Sans", 13px, 400, $color_px, $lineheight_px)

.about
    @extend .dflex
    justify-content: center
    flex-wrap: nowrap
    background-color: $color_orange
    align-items: center
    .img
        background: url(../img/about.png) no-repeat center
        width: 850px
        height: 623px
        background-size: cover
    .text
        flex: 1 1 690px
        padding: 20px 80px 20px 80px
        h2
            +setfont("Gotham Black Regular", 30px, 400, white, $lineheight_px)
            text-transform: uppercase
        p
            +setfont("Open Sans", 13px, 400, white, 24px)
            padding-bottom: 20px
        input
            +setfont(Lato, 14px, 400, white, "")
            text-transform: uppercase
            border: 1px solid #e7ad48
            transition: background-color $transition_buttons
            +setbutton(lightgrey, darkgrey)
            background-color: $color_buttons
            width: 145px
            height: 46px

.price
    background-color: #e7edf3
    padding: 100px 50px 130px 50px
    text-align: center
    h2
        +setfont("Gotham Black Regular", 30px, 400, $color_hx, "")
        text-transform: uppercase
        letter-spacing: -1px
        margin-bottom: $hx_p_margin
    p
        +setfont(Lato, 18px, 300, $color_px, $lineheight_px)
    .items
        @extend .dflex
        justify-content: center
        padding-top: 25px
        align-items: flex-end
        .item
            background-color: white
            border: 1px solid #ccd5df
            margin: 10px
            padding: 25px
            width: 325px
            transition: transform $transition_price, background-color $transition_price, color $transition_price
            transform-origin: 50% 98.5%
            &:hover
                background-color: $back_blue
                color: white
                transform: scale(1.1)
                p, h3, span, li
                    transition: color 1s
                    color: white
            h3
                +setfont(Lato, 25px, 300, $color_plans, $lineheight_px)
                text-transform: uppercase
                padding-bottom: 20px
            .dollar
                +setfont(Lato, 36px, 400, $color_orange, $lineheight_px)
                position: relative
                top: -20px
            span
                +setfont(Lato, 60px, 700, $color_orange, $lineheight_px)
                text-transform: uppercase
            p
                +setfont(Lato, 20px, 300, $color_plans, $lineheight_px)
                font-variant: small-caps
                margin-top: 0px
            ul
                padding-inline-start: 0
                padding-top: 10px
            li
                list-style-type: none
                +setfont(Lato, 14px, 400, #b5bbc1, 40px)
                text-transform: uppercase
                border-top: 1px solid #e2e9f0
            input
                +setfont(Lato, 14px, 400, white, "")
                text-transform: uppercase
                border: none
                transition: background-color $transition_buttons
                +setbutton(lightgrey, darkgrey)
                background-color: $color_buttons
                width: 131px
                height: 42px
                margin-bottom: 15px

.works
    padding: 100px 50px 110px 50px
    text-align: center
    h2
        +setfont("Gotham Black Regular", 30px, 400, $color_hx, "")
        text-transform: uppercase
        letter-spacing: -1px
        margin-bottom: $hx_p_margin
    p
        +setfont(Lato, 18px, 300, $color_px, $lineheight_px)
    .steps
        @extend .dflex
        justify-content: center
        figure
            width: $width_steps
            padding: 50px 0 40px 0
            figcaption
                text-align: center
                h3
                    +setfont(Lato, 20px, 700, $color_hx, $lineheight_px)
                    text-transform: uppercase
                    padding-top: 60px
                p
                    +setfont("Open Sans", 13px, 400, $color_px, $lineheight_px)
    .arrows
        margin: 30px -70px 0 -70px
    .down
        margin-top: 130px
    input
        +setfont(Lato, 14px, 400, white, "")
        text-transform: uppercase
        border: 1px solid #e7ad48
        transition: background-color $transition_buttons
        +setbutton(lightgrey, darkgrey)
        background-color: $color_buttons
        width: 165px
        height: 46px

.clients
    padding: 100px 50px 120px 50px
    text-align: center
    background-color: $color_orange
    h2
        +setfont("Gotham Black Regular", 30px, 900, white, "")
        text-transform: uppercase
        letter-spacing: -1px
        margin-bottom: $hx_p_margin
    p
        +setfont("Open Sans", 16px, 400, white, $lineheight_px)
    .comments
        @extend .dflex
        justify-content: center
        padding-top: 20px
        article, figure
            @extend .dflex
            flex-wrap: nowrap
            flex: 0 1 $width_comments
        article
            // margin: 10px 10px 10px 10px
        figure
            background-color: white
            padding: 20px
            margin: 10px 20px 10px 20px
            figcaption
                text-align: left
                padding: 20px 20px 20px 35px
                p
                    +setfont("Open Sans", 13px, 400, $color_px, $lineheight_px)
                    &:before, &:after
                        position: relative
                        +setfont("Brandon Grotesque", 30px, 700, $color_px, $lineheight_px)
                    &:before
                        content: open-quote
                        left: -20px
                    &:after
                        content: close-quote
                        left: 20px
                        top: 20px
                .name, .position
                    text-transform: uppercase
                    +setfont(Lato, 14px, 400, "", $lineheight_px)
                .name
                    color: #f6772c
                .position
                    color: #99a9ae

.newsletter
    padding: 100px 50px 0 50px
    text-align: center
    h2
        +setfont("Gotham Black Regular", 30px, 400, $color_hx, "")
        text-transform: uppercase
        letter-spacing: -1px
        margin-bottom: $hx_p_margin
    p
        +setfont("Open Sans", 16px, 300, $color_px, $lineheight_px)
    .subscribe
        margin: 50px
        input
            height: 47px
            +setfont("Open Sans", 13px, 400, "", "")
            border-radius: 3px
            border: 1px solid #cbcbcb
            padding-left: 40px
            margin: 10px 0 0 7px
        input[type="text"]
            background: white url('../img/name.png') no-repeat center left 15px
            width: 308px
        input[type="email"]
            background: white url('../img/email.png') no-repeat center left 15px
            width: 388px
        input[type="submit"]
            padding: 0
            +setfont("Open Sans", 14px, 400, white, "")
            text-transform: uppercase
            width: 218px
            background-color: $color_buttons
            transition: background-color $transition_buttons
            +setbutton(lightgrey, darkgrey)
    .map
        margin: 50px auto
        background: url(../img/map.png) no-repeat center
        width: 1102px
        height: 549px
        background-size: cover
hr
    color: $color_px
footer
    text-align: center
    padding-top: 25px
    ul
        @extend .dflex
        justify-content: center
    .phone
        +setfont(Lato, 23px, 400, $color_hx, "")
        position: relative
        margin-top: -7px
        &:before
            position: absolute
            content: ""
            background: url('../img/phone1.png') no-repeat center
            width: 16px
            height: 17px
            margin: 8px 0 0 -20px
    .social
        text-align: center
        margin: -17px 0 40px 0
        .fa-twitter
            +setfontsocial(18px, 400, #ffc155, 25px)
        .fa-facebook, .fa-google-plus, .fa-linkedin
            +setfontsocial(18px, 400, #709dca, 25px)
        a:hover
            border-bottom: 1px solid $color_px
    .copy
        background-color: $back_blue
        padding: 10px
        +setfont("Open Sans", 13px, 400, white, 24px)
        // text-align: center
