body {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  max-width: 1700px;
  min-width: 480px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  background-image: url(../img/logo.png);
  background-size: cover;
  width: 50px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -1px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu li {
  list-style-type: none;
  padding: 10px 0 10px 0;
}

.menu li:hover {
  background-color: #ffbb42;
}

.menu li:active {
  background-color: darkgrey;
}

.menu a {
  color: #868686;
  padding: 15px;
  text-decoration: none;
}

.boost {
  background-color: #709dca;
  padding: 60px 10px 290px 10px;
  color: white;
  text-align: center;
}

.boost h1 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: -10px;
}

.boost p {
  font-size: 16px;
}

.contacts {
  padding-bottom: 50px;
}

.contacts input {
  height: 46px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 3px;
  border-style: none;
  padding-left: 40px;
  margin-left: 7px;
  width: 281px;
  margin-top: 10px;
}

.contacts input[type="text"] {
  background: white url("../img/name.png") no-repeat center left 15px;
}

.contacts input[type="email"] {
  background: white url("../img/email.png") no-repeat center left 15px;
}

.contacts input[type="tel"] {
  background: white url("../img/phone.png") no-repeat center left 15px;
}

.contacts input[type="submit"] {
  padding: 0;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  width: 211px;
  background-color: #ffbb42;
  cursor: pointer;
}

.contacts input[type="submit"]:active {
  background-color: darkgrey;
}

.promo {
  margin: 0 auto;
  height: 343px;
  background: url(../img/macbook.png) no-repeat center;
  position: relative;
  bottom: 280px;
}

.promo .pub {
  background: url(../img/pub.png) no-repeat center;
  height: 298px;
}

.wheels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -280px;
  padding-top: 24px;
}

.wheels .wheel {
  background: url(../img/wheel_pass.png) no-repeat center;
  width: 16px;
  height: 15px;
  padding-left: 10px;
}

.wheels .wheel:hover {
  background: url(../img/wheel_act.png) no-repeat center;
  cursor: pointer;
}

.services {
  text-align: center;
  padding-top: 60px;
  color: #394b50;
}

.services h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: -10px;
}

.services p {
  font-size: 16px;
}

.services .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .items figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 550px;
          flex: 0 1 550px;
}

.services .items figure figcaption {
  text-align: left;
  padding-left: 35px;
  line-height: 22px;
}

.services .items figure figcaption h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: -5px;
}

.services .items figure figcaption p {
  color: #7b7b7b;
  font-size: 13px;
  font-weight: 400;
}

footer {
  background-color: #709dca;
  padding: 20px 0 20px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-align: center;
}
